{% extends 'base.html' %}
{% load mathfilters %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">

                    <li class="nav-item"><h5 class="text " aria-current="page">Заявки:
                    </h5>
                    </li>
                    {% for provider in providers %}

                    <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="{% url 'create_order' provider %}">
  {{ provider }}
</a>


                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
</div>

{% endblock %}