{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% load i18n %}
{% block content %}



<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
     id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Архів замовлень</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            {% for date in unique_dates %}
            <li class="list-group-item">
                <a href="order/{{date}}/">{{ date }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div>
    <h1 class="text-center">{{title}}</h1>
    <div class="modal fade" id="sendModal-{{forloop.counter0}}" tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="sendModal">Відправити</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/kitchen/create_request/send/{{kitchens_id}}" method="post">
                        {% csrf_token %}
                        <table class="table table-dark table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Продукт</th>
                                <th scope="col">Кількість</th>
                                <th scope="col">Підприємство</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in orders %}
                            {% if item.date|date:"Y-m-d" == my_date|date:"Y-m-d" %}
                            {% if item.send == False %}
                            <tr>
                                <th scope="row">{{item.title}}</th>
                                <td>{{ item.how_match }} {{ item.unit }}</td>
                                <td>{{ item.kitchen.title}}</td>
                            </tr>
                            </tbody>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </table>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Закрити
                            </button>
                            <button type="submit" class="btn btn-primary" value="Update">Надіслати заявку
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<form action="" , method="post">
    {% csrf_token %}

    <table class="table">

        <thead>
        <tr>
            <th scope="col">Продукт</th>
            <th scope="col">Одиниця виміру</th>
            <th scope="col">Кількість</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>

        {% for product in product_list|dictsort:'title' %}
        <tr>
            <th scope="row">{{product.title}}</th>
            <td>Умовно кілограми</td>
            <td><input type="text" name="{{ product.title }}" class="form-control" value="0" required></td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling">Архів замовлень
    </button>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#sendModal-{{forloop.counter0}}">
        Надіслати заявку
    </button>
    <button type="submit" class="btn btn-primary">Додати</button>

</form>


{% endblock %}

