{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Kitchen Manager</h1>
        <p class="lead">Додаток для автоматизаці процесів закупки. Використання доступне лише авторизованим користувачам.</p>
        <hr class="my-4">
        <p>Створено для <a href="https://bagatolososia.kiev.ua/" class="link-info">БагатоЛосося</a></p>
        <p class="lead">
            <a class="btn btn-primary" href="https://telegra.ph/Instrukciya-10-15-6" role="button">Інструкція</a>
            <a class="btn btn-light" href="https://t.me/btvts">Технічна підтримка</a>
        </p>
    </div>
</div>

{% endblock %}